.m_button {
    font-family: "S-CoreDream";
    background-color: rgba(33, 33, 33, 1);
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    transition: all 0.25s;
    font-size: 1.5rem;
  }
  
  .m_button:hover , :focus {
    border: 2px solid white;
    scale: 1.5;
  }
  
  .m_button:active {
    scale: 1.3;
  }