.m_button {
  font-family: "S-CoreDream";
  background-color: rgba(33, 33, 33, 1);
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 20px 20px;
  color: white;
  transition: all 0.25s;
  font-size: 1.5rem;
  margin: 0;
}

.m_button:hover  {
  border: 2px solid white;
  background-color: rgba(66, 66, 66, 1);
  transform: translateY(-1em);
}

.m_button:active {
  transform: translateY(0);
}
