.m_container {
  margin: 0;
  padding: 2em 2em 0 2em;
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 7.5fr 1fr 1fr;
  gap: 0;
  transition: all 0.25s;
  box-sizing: border-box;
}

.title {
    margin: 0;
    padding: 0;
}

.m_title {
  font-weight: 900;
  margin: 0;
  padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.m_inner_container_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5em;
  margin: 2em 0 0 0;
  padding: 0;
  box-sizing: border-box;
}

.m_inner_container_list {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  margin: 2em 0 0 0;
  box-sizing: border-box;
}

.copyright {
  display: flex;
  align-items: center; /* 세로 가운데 정렬 */
  justify-content: center; /* 가로 가운데 정렬 */
  margin: 0;
}

@media (max-width: 768px) {
    .m_inner_container_grid {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 1.5em;
        margin: 2em 0 0 0;
        padding: 0;
        box-sizing: border-box;
      }
}