.app_cons {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    box-sizing: border-box;
}

.footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}